* {
	margin: 0;
	padding: 0;
	border: 0;
}

.clear {
	*zoom: 1;
}

.clear:after {
	visibility: none;
	content: "";
	display: block;
	clear: both;
	height: 0;
}

#wrap {
	width: 92.40740741%;
	height: 300px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	top: 1051px;
}

#inner {
	width: 1000%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#inner img {
	width: 10%;
	height: 225px;
	float: left;
	border-radius: 20px;
}

.paganation {
	width: auto;
	position: absolute;
	top: 244px;
	text-align: center;
	z-index: 222;
	display: flex;
	margin: 0 42.71185318%;
}

.paganation span {
	position: relative;
	width: 11px;
	margin: 0 5.5px;
	height: 11px;
	display: block;
	background: #cccccc;
	border-radius: 50%;
	cursor: pointer;
}

.paganation .selected {
	background: #2d7ffc;
}
