@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700;900&display=swap');


::selection {
	background: #2c2c2c00;
}

::-moz-selection {
	background: #2c2c2c00;
}

::-webkit-selection {
	background: #2c2c2c00;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: #888888;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 400;
	text-align: 2px 2px 1px #808080;
}

body {
	width: 100%;
	height: 100vh;
	text-align: center;
	margin: 0;
}

.block1 {
	width: 100%;
	height: 100vh;
	vertical-align: middle;
}

.entry {
	position: absolute;
	height: auto;
	width: 100%;
}

.button-wel {
	background-color: #1678ff;
	color: #ffffff;
	padding: 40px 300px;
	border-radius: 4px;
	font-size: 44px;
	outline: none;
	font-family: 'Noto Sans SC', sans-serif;
	font-weight: 500;
	border: none;
	margin-top: 20px;
	margin-bottom: 60px;
	transition: background-color .3s ease-out;
}

.button-wel:hover {
	background-color: #136be6;
	text-decoration: none;
}

.description {
	color: #595959;
	padding: 80% 0 60px 0;
	/*background-color: #f5f5f5;*/
	background-image: url(../img/bg.png);
	margin-bottom: 60px;
	box-shadow: 0 6px 30px #f3f3f3;
}

.applogo {
	border-radius: 40px;
	width: 240px;
	box-shadow: 0 6px 40px #e1e1e1;
}