* {
	margin: 0;
	text-decoration: none;
	outline: none;
	border: none;
}

body {
	color: rgba(0, 0, 0, 0.87);
	background-color: #ffffff;
}

a {
	background-color: transparent;
}

.mdui-icon,
.mdui-icon::before {
	color: inherit;
	font-weight: normal;
	font-size: 24px;
	/* Preferred icon size */
	font-style: normal;
	line-height: 1;
	direction: ltr;
	letter-spacing: normal;
	white-space: nowrap;
	text-transform: none;
	vertical-align: middle;
	word-wrap: normal;
}

.mdui-icon {
	display: inline-block;
	text-align: center;
}

.mdui-icon::before {
	display: block !important;
	width: 24px;
	height: 24px;
}

@font-face {
	font-weight: 400;
	font-family: 'Material Icons';
	font-style: normal;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(../icons/material-icons/MaterialIcons-Regular.woff2) format('woff2'), url(../icons/material-icons/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
	/* stylelint-disable-next-line */
	font-family: 'Material Icons';
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
}

.container {
	width: 100vw;
	height: 100vh;
}

.innercontainer {
	width: 100vw;
	height: calc(100% - 64px);
	display: flex;
}

.bar {
	width: 100%;
	height: 64px;
	background-color: #313131;
}

.bar-logo {
	position: absolute;
	z-index: 200;
	background-image: url(../img/logo.png);
	background-size: 100%;
	background-position: center;
	margin: 8px 16px;
	width: 48px;
	height: 48px;
	transition: background-size 0.2s;
}

.bar-logo:hover {
	background-size: 120%;
	cursor: pointer;
}

.bar-text {
	position: absolute;
	z-index: 200;
	margin: 8px 72px;
	height: 48px;
	color: #dad5cf;
}

.bar-text h1 {
	text-align: center;
	font-size: 22px;
	margin-top: 13px;
	font-weight: 200;
}

.left {
	width: calc(400px + 1vw);
	height: 100%;
	background-color: #f9f9f9;
}

.list-text {
	height: auto;
	padding: 32px 16px;
}

.list-text p {
	line-height: 1.5;
	font-weight: 100;
	color: #5a5a5a;
}

.list-separate {
	height: 1px;
	margin: 1px 18px;
	background-color: #d4d4d4;
}

.list-item {
	height: 56px;
	margin: 0 16px;
	vertical-align: middle;
	transition: background-color 0.5s, color 0s;
	display: flex;
	color: #8c8c8c;
	border-radius: 4px;
}

.list-item:hover {
	background-color: #eaeaea;
	color: #00b84f;
	cursor: pointer;
}

.list-item-content {
	flex-grow: 1;
	padding: 20px 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	display: flex;
}

.mdui-icon {
	padding: 16px 8px;
}





.right {
	width: calc(99vw - 400px);
	height: 100%;
	background-color: #ffffff;
	overflow-y: auto;
}

.sticker-item {
	width: 220px;
	height: 250px;
	margin: 8px;
	background-color: #f1f1f1;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.sticker-item:hover{
	cursor: pointer;
	background-color: #e2e2e2;
}

.sticker-item-pic {
	margin: 10px;
	width: 200px;
	height: 200px;
	object-fit: contain;
	transform: scale(1);
	transition: transform 0.3s;
}

.sticker-item-pic:hover {
	transform: scale(1.1);
}

.sticker-item-description {
	text-align: center;
	font-weight: 100;
	font-size: 15px;
	color: #666666;
}

.right ul {
	margin: 16px;
	padding-bottom: 16px;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, 236px);
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

.right li {
	float: none;
}

.download{
	padding: 20px;
	margin: 20px 24px 16px 24px;
	background-color: #f1f1f1;
	border-radius: 10px;
	text-align: center;
}

.download-button{
	background-color: #00b84f;
	padding: 12px 24px;
	color: #ffffff;
	font-weight: 200;
	border-radius: 6px;
	margin-top: 8px;
	transition: background-color 0.3s, color 0.3s;
}

.download-button:hover{
	background-color: #00ad48;
	color: #e1e1e1;
	cursor: pointer;
}