* {
	margin: 0;
}

html,
body {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #000000;
}

.container {
	height: 100vh;
}

.select {
	width: 100%;
}

.select-header {
	width: auto;
	height: 100vh;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.select-header h1 {
	text-align: center;
	line-height: 40px;
}

.select-header button {
	height: 48px;
	line-height: 48px;
	padding-left: 20px;
	padding-right: 20px;
	left: 50%;
	transform: translateX(-50%);
	border: #BFBFBF 1px solid;
	border-radius: 4px;
}

.generate {
	width: auto;
	height: auto;
	padding: 80px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.generate p {
	text-align: center;
	line-height: 40px;
}

.generate button {
	height: 48px;
	line-height: 48px;
	padding-left: 20px;
	padding-right: 20px;
	border: #BFBFBF 1px solid;
	border-radius: 4px;
}

.result {
	width: auto;
	height: auto;
	padding: 20px 20px 200px 20px;
}

.result button {
	height: 48px;
	line-height: 48px;
	padding-left: 20px;
	padding-right: 20px;
	border: #BFBFBF 1px solid;
	border-radius: 4px;
	width: 100%;
	margin-top: 40px;
}
